.tooltiptext{
    background-color:aqua;
    font-weight: 900;
    width:50%;
    margin: 10px auto;
    /* margin:10px; */
    padding:5px;
    border-radius:10px;
    text-align:center;
}
.tooltip{
    border:1px solid red;
    background-color: chocolate;
    height:100px;
    width:100px;
    margin:auto;
}
